* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "watermin";
    src: url("../font/WatermintScript.woff");
}

/*########## Barra Navegação ############*/
#barra_nav{
    width: 100%;
    height: auto;
    background-color: aqua;
}

#barra_nav > ul{
    list-style: none;
    list-style-type: none;
}

.barra-naveg{
    background-color: black;
    border-bottom: 2px solid white;   
}

.logo h2{
    color: gold;
    margin-left: 2rem;
    font-family: 'watermin';
    font-size: 55px;
}

.div-menu{
    padding-right: 2rem;
    display: flex;
    justify-content: flex-end;
}

.menu a{
    color: gold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 28px;
}

.menu a:hover{
    color: rgb(158, 157, 156);
}

/* ############## Descricao principal produto ##################*/
.cont-descricao{
    border-radius: 10px;
    padding-bottom: 1rem;
}

.descricao-prod{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1rem;
    justify-content: space-around;
}

.info-prod{
    border: 1px solid red;
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.div-img-prod{
    width: 100%;
}

.img-prod{
    width: 100%;
}

.div-img-descr{
    border: 1px solid red;
    width: 50%;
    padding: 0 2rem;
}

.div-detalhes-prod{
    width: 100%;
    padding: 1rem;
    border: 1px solid red;
    
}

/* ######### Rodapé ########## */

.rodape{
    width: 100%;
    height: 130px;
    background-color: rgb(73, 36, 107);
    display: flex;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    justify-content: center;
    align-items: center;
}