*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "watermin";
    src: url("../font/WatermintScript.woff");
}

body, html{   
    color: #777;
    height: 100%;   
}

/*########## Barra Navegação ############*/
.barra_navg{
    width: 100%;
    height: auto;
    background-color: rgb(44, 44, 44);
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo_barranavg h2{
    margin-left: 2rem;  
}

.logo_barranavg{
    color: gold;
    font-size: 25px;
    font-family: watermin;
    text-decoration: none;    
}

.barra_navg ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-right: 1rem;
}

.barra_navg ul li{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-right: 1rem;
    font-size: 20px;
}

.barra_navg ul li a{
    color: #fff;
    text-decoration: none;
}

.barra_navg ul li a:hover{
    color: gold;
}

.conteudo{
    color: #777;
    background-color: #111;
    text-align: justify;
    padding: 50px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h3{
    text-transform: uppercase;
    color: #111;
    text-align: center;
}

p{
    margin-bottom: 20px;
}
/*============ Efeito Parallax==============*/
.caixa1, .caixa2, .caixa3, .caixa4{
    position: relative;
    height: 100%;
    opacity: 0.7;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.caixa1{
    background-image: url(../img/IMG_20220111_083630.jpg);
}

.caixa2{
    background-image: url(../img/lenco-de-quadril-modelo-shakira-danca-do-ventre.jpg);
}
.caixa3{
    background-image: url(../img/imagem3.jpg);
}
.caixa4{
    background-image: url(../img/imagem4.jpg);
}

.conteudo-titulo{
    position: absolute;
    left: 0;
    top: 45%;
    width: 100%;
    text-align: center;
    
}

.conteudo-titulo span.titulo{
    color: #fff;
    background-color: #111;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 5px;

}


.logo_micheleAtelie{
    color: gold;
    background-color: #111;
    padding: 18px;
    font-size: 55px;
    letter-spacing: 5px;
    font-family: watermin;
}

.texto_produtos{
    color: #fff;
    background-color: #111;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 5px;    
}

hr{
    width: 100%;
    border: 1px solid #5252527e;
    margin: 20px 0;
}

.texto_mensagem{
    color: #fff;
    background-color: #111;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 5px;
}